button {
    background-color: #9b0d0d;
    color: white;
  }
  
  button:hover {
    opacity: 0.8;
  }

  input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: inline;
  }
  